@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

/* Slick Carousel Custom Styles */
.slick-dots {
  bottom: -40px;
}

.slick-dots li button:before {
  font-size: 10px;
  color: #000;
  opacity: 0.25;
}

.slick-dots li.slick-active button:before {
  opacity: 1;
  color: #000;
}

.slick-prev,
.slick-next {
  z-index: 1;
}

.slick-prev:before,
.slick-next:before {
  color: #000;
  opacity: 0.5;
}

.slick-prev:hover:before,
.slick-next:hover:before {
  opacity: 1;
}